<div class="container-fluid mt-100">
  <div class="row">
    <div class="col-md-12">
      <img src="https://i.imgur.com/52LwUDz.png" class="img-fluid mx-auto d-block img-responsive">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center display-1">Rural Sabor</h1>
      <p class="text-center display-4"> o app de entrega do pequeno produtor</p>
    </div>
  </div>
</div>
<header>

  <!-- Carousel -->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.imgur.com/XXnlhB1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h5>Rural Sabor</h5>
          <p>Trabalhadores rurais produzem diversas culturas com pouca tecnologia e mão de obra familiar.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/BHuEJ4u.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h5>Rural Sabor</h5>
          <p>A agricultura familiar favorece práticas produtivas mais equilibradas, como o uso sustentável dos recursos genéticos e a agroecologia.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/EPI0Zo2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <h5>Rural Sabor</h5>
          <p>Os alimentos que vão para a mesa de milhares de brasileiros são oriundos, boa parte, de pequenos agricultores.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
  <!-- Carousel -->

  <hr class="featurette-divider">

  <a id="sobre"></a>
  <div class="container">

    <!--Sobre-->
    <div class="row align-items-center">
      <div class="col-md-12">

        <p class="text-justify text">Promover redes alimentares alternativas, fortalecendo o consumo de alimentos
          produzidos por pequenos e médios produtores e produtores familiares.</p>

        <p class="text-justify text">Um e-commerce que tem por objetivo democratizar e facilitar a comunicação entre
          pequenos, médios e agricultores familiares e os consumidores. Entregamos a conexão, com a finalidade de
          favorecer as conexões locais,
          fortalecendo a economia local e consumo dos produtos regionais.</p>

        <p class="text-center">Você sabe de onde vem seu alimento?</p>
      </div>
    </div>
  </div>
  <!--/Sobre-->

  <div class="container">
    <hr class="featurette-divider">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Plataforma</h1>
    </div>
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Cadastro</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Você quer fazer parte do nosso marketplace para expor seus produtos?</li>
            <li>Ou comprar de nossos produtores?</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-success" routerLink='/cadastrar'>Cadastrar</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Login</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Já tem uma conta?</li>
            <li>Faça seu login agora e aproveite o melhor do frescor e sabor dos produtos agro!</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-success" routerLink='/entrar'>Entrar</button>
        </div>
      </div>
    </div>
  </div>

  <!--/Objetivos ODS-->
  <div class="card-columns m-5" id="objetivos-ods">

    <div class="card">
      <img class="card-img-top" src="https://i.imgur.com/kfGnEe1.jpg" alt="">
      <div class="card-body">
        <p class="card-text text-center t-20">Acabar com a fome e garantir o acesso de todas as pessoas a alimentos
          seguros,
          nutritivos e suficientes durante todo o ano</p>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="https://i.imgur.com/AfCMzpC.jpg" alt="">
    </div>

    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body text-center">
        <p class="t-20">Acabar com todas as formas de desnutrição e atender às necessidades nutricionais dos
          adolescentes, mulheres
          grávidas e lactantes e pessoas idosas</p>
      </blockquote>
    </div>

    <div class="card">
      <img class="card-img" src="https://i.imgur.com/Wzue2lm.jpg" alt="">
    </div>

    <div class="card">
      <div class="card-body">
        <p class="card-text text-center t-20">Alcançar a segurança alimentar e melhoria da nutrição, bem como promover a
          agricultura sustentável</p>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-body">
        <p class="card-text t-20">Dobrar a produtividade agrícola e a renda dos pequenos produtores de alimentos, como
          mulheres, povos indígenas, agricultores familiares, pastores e pescadores</p>
      </div>
    </div>

    <div class="card">
      <img class="card-img" src="https://i.imgur.com/Es2gWQu.jpg" alt="">
    </div>

    <div class="card">
      <div class="card-body">
        <p class="card-text text-center t-20">Garantir sistemas sustentáveis de produção de alimentos e implementar
          práticas
          agrícolas resilientes, que melhorem progressivamente a qualidade da terra e do solo</p>
      </div>

    </div>
    <div class="card">
      <img class="card-img" src="https://i.imgur.com/u3YRmMg.jpg" alt="">
    </div>


    <div class="card">
      <img class="card-img-top" src="https://i.imgur.com/kTUdSKK.jpg" alt="">
      <div class="card-body">
        <p class="card-text text-center t-20">70% dos alimentos que consumimos são cultivados por pequenos produtores e
          produtores familiares</p>
      </div>
    </div>


    <div class="card">
      <img class="card-img-top" src="https://i.imgur.com/rCds44m.jpg" alt="">
      <div class="card-body">
        <p class="card-text text-center t-20">Reduzir a distância entre produtores e consumidores minimiza os impactos
          promovidos pelo déficit logístico na cadeia agrícola e alimentar brasileira</p>
      </div>
    </div>


    <div class="card">
      <img class="card-img-top" src="https://i.imgur.com/9B3yfuV.jpg" alt="">
      <div class="card-body">
        <p class="card-text text-center t-20">O agro precisa ser Pop, Tech e Tudo para os pequenos produtores e
          produtores familiares</p>
      </div>
    </div>
  </div>
  <!--/Objetivos ODS-->
