<footer class="container-fluid">
  <div class="justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 flex-fill">
          <h6>Sobre</h6>
          <p class="text-justify">
            A Rural Sabor tem por objetivo popularizar o sabor produzido pelo produtor rural e aproximar o
            consumidor à origem dos alimentos, transformando o consumo desses produtos em uma
            experiência única, através de uma plataforma e-commerce voltada para venda de alimentos. </p>
        </div>

        <div class="col-md-4">
          <h6>Links de acesso rápido</h6>
          <ul class="footer-links">
            <li>
              <a href="https://www.generation.org/impact/" target="_blank">Sobre a Generation</a>
            </li>
            <li>
              <a href="http://localhost:4200/contato" target="_blank">Fale Conosco</a>
            </li>
          </ul>
          <div class="col-md-12">
            <ul class="social-icons">
              <li>
                <a class="facebook" href="https://www.facebook.com/generationbrasil/" target="_blank"><i
                    class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="instagram" href="https://www.instagram.com/generationbrasil/" target="_blank"><i
                    class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a class="linkedin" href="https://www.linkedin.com/school/generationbrasil/" target="_blank"><i
                    class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a class="generation" href="https://brazil.generation.org/" target="_blank"><i
                    class="bi bi-book"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr width="90%" noshade=""/>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="copyright-text text-center">
            Copyright &copy; 2021 Todos os direitos reservados:
            <a href="#">Rural Sabor©</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
